---
import IconHamburger from "./IconHamburger.astro";

const planetList = [
    "mercury",
    "venus",
    "earth",
    "mars",
    "jupiter",
    "saturn",
    "uranus",
    "neptune",
];
---

<header>
    <section>
        <span class="planets-site">The planets</span>
        <button class="btn-hambuger">
            <IconHamburger />
        </button>
        <nav>
            {
                planetList.map((planet) => {
                    const accentClasses = `accent-hover link-${planet}`;
                    const planetLink = `/planets-fact-site/${planet}`;
                    return (
                        <div class="planet-list-element">
                            <div class={accentClasses} />
                            <a class="heading-4" href={planetLink}>
                                {planet}
                            </a>
                        </div>
                    );
                })
            }
        </nav>
    </section>
</header>

<style>
    header {
        width: 100%;
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: rgba(255, 255, 255, 0.2);
    }

    section {
        display: flex;
        justify-content: space-between;
        /* padding-top: 16px; */
        padding-bottom: 17px;
    }

    section > * {
        padding-top: 16px;
    }

    .planets-site {
        font-family: "Antonio";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -1.05px;
        text-transform: uppercase;

        color: #ffffff;
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    nav {
        padding-top: 0;
    }

    .planet-list-element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    a {
        all: unset;
        display: block;
        width: 100%;
        text-transform: uppercase;
        opacity: 0.75;
        cursor: pointer;
    }

    a:hover {
        opacity: 1;
    }

    /* Nav list links accent visibility configuration */

    .accent-hover:has(+ a:hover) {
        --accent-visible: visible !important;
    }
    .accent-hover {
        visibility: var(--accent-visible);
        width: 100%;
        height: 4px;
    }

    .link-mercury {
        background-color: var(--clr-accent-mercury);
    }
    .link-venus {
        background-color: var(--clr-accent-venus);
    }
    .link-earth {
        background-color: var(--clr-accent-earth);
    }
    .link-mars {
        background-color: var(--clr-accent-mars);
    }
    .link-jupiter {
        background-color: var(--clr-accent-jupiter);
    }
    .link-saturn {
        background-color: var(--clr-accent-saturn);
    }
    .link-uranus {
        background-color: var(--clr-accent-uranus);
    }
    .link-neptune {
        background-color: var(--clr-accent-neptune);
    }

    @media (min-width: 768px) {
        section > * {
            padding-top: 32px;
        }

        section {
            flex-direction: column;
            padding-bottom: 27px;
        }

        nav {
            position: relative;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 33px;
        }

        div {
            width: 100%;
            height: 100%;
        }

        button {
            display: none;
        }
    }
    @media (min-width: 1440px) {
        section > * {
            padding-top: 22px;
        }

        nav {
            padding-top: 0;
        }

        section {
            flex-direction: row;
            padding-inline: 32px;
        }
    }
</style>
