---
import Figure from "./Figure.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import Content from "./Content.astro";

interface Frontmatter {
    name: string;
    overview: Overview;
    structure: Overview;
    geology: Overview;
    rotation: string;
    revolution: string;
    radius: string;
    temperature: string;
    images: Images;
}

interface Images {
    planet: string;
    internal: string;
    geology: string;
}

interface Overview {
    content: string;
    source: string;
}
const planet = Astro.props.planet as Frontmatter;
const lowercasePlanet = planet.name.toLowerCase();

const planetClass = "planet-".concat(lowercasePlanet);
---

<main class={planetClass}>
    <Header />
    <article>
        <div class="planet-space1"></div>
        <Content
            name={planet.name}
            overview={planet.overview}
            geology={planet.geology}
            structure={planet.structure}
            images={planet.images}
        />
        <Footer
            rotation={planet.rotation}
            revolution={planet.revolution}
            radius={planet.radius}
            temperature={planet.temperature}
        />
        <div class="planet-space2"></div>
    </article>
</main>

<style>
    main {
        height: 100vh;
        width: 100%;
        background-image: url(../svg/background-stars.svg);
        display: flex;
        flex-direction: column;
    }

    /* Grid and areas */
    article {
        --article-width: 327px;
        width: 100%;
        padding-inline: calc(100vw / 2 - var(--article-width) / 2);
        display: grid;
        grid-template-areas:
            "space1 figure content space2"
            "space1 figure options space2"
            "space1 footer footer  space2";
        place-items: center;
    }

    .planet-space {
        grid-area: space;
    }

    @media (min-width: 768px) {
        article {
            --article-width: 689px;

            /* height: 829px;
            width: 689px; */
        }
    }
    @media (min-width: 1440px) {
        article {
            --article-width: 1440px;
            justify-content: center;
            grid-template-columns: 165px 760px 350px 165px;
            grid-template-rows: 326px 176px calc(87px + 128px);
            padding-top: 126px;
            padding-bottom: 56px;
            height: 882px;
        }
    }
</style>
